.container{
   position: absolute;
   top: 0px; left:0px;
    width: 100vw;
    height: 100vh;
}
.jeublanc{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.jeunoir{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.joueur, .alarme{
    height: 15vw;
    width: 100vw;
    text-align: center;
    font-weight: bold;
    font-size: 10vw;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: rgb(49, 49, 49); 
color: white;
}
.alarme{
    background-color: white;
color: red;
}

img[alt='pion'], img[alt='alarme']{
    height: 10vw;
    animation: clignoter 1s linear infinite;

}
@keyframes clignoter {
    0%, 100%{ transform: scale(1); }
    50%{ transform: scale(0.8);}
}
.case{
    box-sizing: border-box;
    border: 0.2vh solid black; 
    width: 12.5vw;
    height: 12.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.case img{
    height: 10.5vw;
}
.a7, .a5, .a3, .a1,.b8, .b6, .b4, .b2 ,
.c7, .c5, .c3, .c1,.d8, .d6, .d4, .d2,
.e7, .e5, .e3, .e1,.f8, .f6, .f4, .f2 ,
.g7, .g5, .g3, .g1,.h8, .h6, .h4, .h2

{
    background-color: rgb(172, 168, 168);
}
.mortsBlancs, .mortsNoirs{
    width: 100vw;
    height: 25vw;
    border: black 0.5vh solid;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.mortsBlancs img, .mortsNoirs img{
    height: 10.5vw;
}
.vert{
    box-sizing: border-box;
    border: solid 1vw rgb(34, 241, 34);
}
.normal{
    border:none;
}
.aide{
    background-color: rgb(241, 212, 165);
}
.rouge{
    background-color:red;
}



